# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# .env files
.env

# TypeScript files
dist/
build/

# MongoDB data volume
mongo_data/

# IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db
